
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    font-family: Arial,sans-serif;
}
.nav-hm{
    ul{
        li{
            a{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
                
                &.active,&:hover{

                    color: rgb(59, 151, 255);

                }
                
            }
        }
    }

}

h2{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.05rem;
}
p{
    font-size: 14px;
    font-weight: 400;
}