.banner-text{
    color: white;
    width: 550px;
    margin: 200px auto;
    justify-content: center;
    text-align: center;
    
    h3{
        font-size: 20px;;
        text-align: center;
        font-weight: normal;
        padding: 10px 10px;
        letter-spacing: -1px;
        span{
            display: inline-block;
            padding: 0px 15px;
            
        }
    }
    h1{
        font-weight: 800;
        font-size: 50px;
        padding-bottom: 10px ;
    }
    p{
        font-size: 18px;
    }

}

